:root {
    --white: #FFFFF0;
    --bronze: #625834;
    --darkbyz: #523249;
    --terracotta: #EC7357;
    --deepspacesparkle: #416165;
    --borderWidth: 3px;
}

@keyframes pulse {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
    }
}

p {
    padding: 5px;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    color: var(--white);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: auto;
    background-color: var(--deepspacesparkle);
    border-bottom: solid var(--white) 5px;
}

li {
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    border: solid var(--borderWidth);
}

#name-head {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
    color: var(--terracotta);
    font-weight: 500;
}

#header {
    width: 20vw;
    justify-self: center;
}

.links {
    text-decoration: none;
    list-style-type: none;
    width: 30vw;
    flex-wrap: wrap;
}

.links>li:hover {
    animation: pulse 1.5s ease-in-out;
}

.local {
    display: flex;
    justify-content: space-between;
}

.external {
    display: flex;
    justify-content: flex-end;
}

.local>li {
    background-color: var(--darkbyz);
    border-color: var(--bronze);
}

#box {
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
}

#css-button {
    border: transparent;
}

.gradient-border {
    --borderWidth: 3px;
    background: var(--darkbyz);
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

#main {
    display: flex;
    flex-direction: column;
}

article {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100vh;
    width: 100vw;
}

#me-pic {
    height: 98%;
    width: 99%;
}

#info-border {
    border: 5px double var(--darkbyz);
    grid-area: 3/8/10/12;
}

#me-border {
    display: block;
    border: 5px ridge var(--darkbyz);
    grid-area: 3/2/10/6;
    z-index: 5;
}

#outer-me-border {
    border: 10px ridge var(--bronze);
    grid-area: 3/2/10/6;
    z-index: 5;

}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}