body {
    background-color: #333;
}

.door-opening {
    background-color: #333;
    position: relative;
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    margin-top: 50px;
}

.left-door {
    background-color: brown;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vh;
    height: 100vh;
    transform-origin: left;
}

.right-door {
    background-color: brown;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vh;
    height: 100vh;
    transform-origin: right;
}

.door {
    /*Speed of the Door animation*/
    transition: all 1s ease-in-out 3s;
}

.double-door:hover .left-door {
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}

.double-door:hover .right-door {
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(105deg);
}

.double-door {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 0px;
    overflow: hidden;
}

.center-door {
    display: flex;
    position: relative;
    justify-content: center;
}